/* Google Font fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap');

/* Font  */
@import 'font-awesome/css/font-awesome.min.css';

* {
  font-family: 'Ubuntu', sans-serif;
}

/* Navbar */
.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Footer */
li {
  list-style: none;
}

.hero {
  background: url(https://c1.wallpaperflare.com/preview/485/581/97/various-fitness-healthy-sport.jpg)
  no-repeat center center/cover ; 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #ffffff;
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 3rem;
  color: #333;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 2px #3f1a5e;
}

strong {
  color: #3f1a5e;
}

.main {
  min-height: 20vh; 
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.page {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 2rem;
}

#features {
  color: rgb(42, 42, 44);
  font-size: 1.5rem;
   text-decoration: none;
}

/* Buttons */
.button {
  display: inline-block;
  background-color: #3f1a5e;
  color: #ffffff;
 
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

/* Scrollbar */
*::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar Track */
*::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

/* Scrollbar Thumb */
*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
}

/* Scrollbar Thumb on Hover */
*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
