@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Alkatra', cursive;
}

body {
  background-color: gray;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*::-webkit-scrollbar {
  background-color: #49484863;
  width: 10px;
}

/* Style scrollbar thumb */
*::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}
