* {
  box-sizing: border-box;
}

body {
  background-color: #48494963;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*::-webkit-scrollbar {
  background-color: #49484863;
  width: 10px;
}

/* Style scrollbar thumb */
*::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}
