* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(0deg, rgb(204, 204, 204) 0%, rgb(53, 53, 53) 72%);
  overflow: overlay;
}

*::-webkit-scrollbar {
  background-color: #57575763;
  width: 10px;
}

/* Style scrollbar thumb */
*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}